@model AddQuestionToExamViewModel
@{
    ViewData["Title"] = "AddQuestionToExam";
}

<h1>Add Question To Exam</h1>

<form asp-action="AddQuestionToExam" method="post">

    <div class="form-group">
        <label asp-for="@Model.Body" class="control-label"></label>
        <input asp-for="@Model.Body" class="form-control" />
        <span asp-validation-for="@Model.Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Mark" class="control-label"></label>
        <input asp-for="@Model.Mark" class="form-control" type="number" />
        <span asp-validation-for="@Model.Mark" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="QuestionType" class="control-label"></label>
        <select asp-for="QuestionType" class="form-control">
            <option value="">Select Question Type</option>
            <option value="MCQQuestion">MCQ Question</option>
            <option value="TrueOrFalseQuestion">True or False Question</option>
        </select>
        <span asp-validation-for="QuestionType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Question" class="btn btn-primary" />
    </div>
</form>